$textWhite:white;
$background:#C068E3;
$CardBackground:#30384D;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #1C233D;
    nav{
        width: 90%;
        height:50px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content:center;
        gap: 80px;
        margin: 10px 0;
        a{
           color:$textWhite; 
        button{
            padding: 5px 20px;
            border-radius: 5px;
            background-color:$background;
            color:$textWhite;
        }
        }
    }
    .cardBlok{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        .cardText{
            width: 40%;
            color: $textWhite;
         .text{margin: 50px 40px;}
         .text h1{font-size: 50px;}  
         .text p{padding: 10px 0;}  
         .text button{
            padding: 5px 30px;
            border-radius: 5px;
            background-color:$background ;
            color: $textWhite;
            font-size: 13px;
         }

        ul{
            display: flex;
            margin-left: 40px;
         
         }
         ul li{gap: 20px;}   
         
         }
         .cardImg{
            width: 40%;
            margin-top: 5%;
            margin-left: 10%;
         }
        }
        .cardGroup{
            width: 90%;
            margin-top: 30px;
            margin-left: 60px;
            display: flex;
            align-items: center;
            justify-content:space-around;
        }
        .card-block{
            width: 90%;
            margin: 50px 50px;
         h4{
            text-align: center;
            color: #9C76B8;
         }   
         h1{
            text-align: center;
            color: $textWhite;
            padding: 10px 0;
         } 
         span{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
         }  
         button{
            padding: 10px 30px;
            border-radius: 5px;
            background-color: $CardBackground;
            color: $textWhite;
         }
        }
        .block-card{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
        .groupCard{
            width: 28%;
            margin: 50px auto;
            background-color: $CardBackground;
         img{
            width: 80%;
            margin: 20px 40px;
        }
        span{
            display: flex;
            justify-content: space-between;
            ;
        h1{
            color: $textWhite;
            font-size: 20px;
            padding: 10px;
        }
        h4{margin: 20px 10px;}
        p{
            color: $textWhite;
            margin: 5px 10px;
        }

        .foto img{
            width: 70%;
            margin: -10px -10px;
        }
        }
        }
        }

        .futer button{
            padding: 10px 30px;
            background-color: $CardBackground;
            color: $textWhite;
            border-radius: 5px;
            margin: 20px 45%;
        }

    }
